@charset "utf-8";
/* CSS Document */


/* Banner CSS */

.btn.Apply_Aadhaar {
    background-color: #309d3e;
    position: absolute;
    top: 65%;
    color: #fff;
    left: 18%;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
}

    .btn.Apply_Aadhaar:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }

.banner_icons {
    position: absolute;
    top: 65%;
    left: 3%;
}

.banner_img_list {
    display: flex;
    list-style: none;
}

    .banner_img_list li {
        padding: 5px 45px;
    }

        .banner_img_list li a img {
            width: 50%;
        }

/* Banner CSS end */

.about {
    display: block;
    position: relative;
    padding: 222px 0 50px 0;
    background: url(../images/about-bg.jpg) no-repeat center bottom;
}

.about1 {
    display: block;
    position: relative;
    padding: 222px 0 50px 0;
    background: url(../images/about-bg.jpg) no-repeat center bottom;
}

.about ul.our-links {
    display: block;
    margin: -280px 0 0 0;
    position: relative;
    z-index: 9999;
    -webkit-padding-start: 10px;
    -webkit-padding-end: 10px;
        z-index: 1;
}

    .about ul.our-links li {
        display: block;
        position: relative;
    }

        .about ul.our-links li.apply-online {
            background: #ffc107;
        }

        .about ul.our-links li.prospects .detail a.more {
            border: 2px #ff9600 solid;
            color: #ff9600;
        }

        .about ul.our-links li.prospects {
            background: #009933;
        }

            .about ul.our-links li.prospects .detail a.more {
                border: 2px #009933 solid;
                color: #009933;
            }

        .about ul.our-links li.certification {
            background: #ffc107;
        }

            .about ul.our-links li.certification .detail a.more {
                border: 2px #f0bc01 solid;
                color: #f0bc01;
            }

    .about ul.our-links li {
        display: block !important;
        padding: 44px 10px 60px 4%;
        opacity: 1 !important;
    }

        .about ul.our-links li p {
            padding-bottom: 0px;
        }

        .about ul.our-links li .icon {
            width: 23%;
            float: left;
        }

        .about ul.our-links li .detail {
            width: 65%;
            padding-left: 20px;
            float: left;
            color: #fff;
        }

            .about ul.our-links li .detail h3 {
                display: block;
                padding-bottom: 0px;
                font-family: 'Lato';
                font-size: 24px;
                color: #fff;
                text-transform: uppercase;
            }

                .about ul.our-links li .detail h3 span {
                    display: block;
                    font-size: 12px;
                }

            .about ul.our-links li .detail p {
                display: block;
                font-size: 14px;
                line-height: 25px;
            }

            .about ul.our-links li .detail a.more {
                display: inline-block;
                width: 38px;
                height: 38px;
                line-height: 34px;
                position: absolute;
                bottom: -17px;
                margin: 0 auto;
                left: 0;
                right: 0;
                background: #fff;
                font-size: 20px;
                color: #FFC106;
                border-radius: 50%;
                text-align: center;
                border: 2px #ffc107 solid;
            }

                .about ul.our-links li .detail a.more:hover {
                    color: #211d1e;
                }

.sm-head {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: #353434;
    text-align: center;
    width: 100%;
}

    .sm-head:before {
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        background-color: #fc5c0f;
        left: 50%;
        -webkit-transform: translatex(-50%);
        transform: translatex(-50%);
        bottom: -6px;
        z-index: 9;
        border-radius: 50%;
    }

    .sm-head:after {
        height: 2px;
        background-color: rgba(252, 92, 15, 0.46);
        left: 25%;
        right: 25%;
    }

.about .left-block {
    display: block;
}

.video-block {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

    .video-block iframe, .video-block object, .video-block embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

#thumbnail_container {
    overflow: hidden;
    width: 100%;
}

.about .video-block img {
    width: 100%;
}

.about .video-block a {
    width: 67px;
    display: block;
    position: absolute;
    margin: -34px auto 0;
    left: 0px;
    right: 0px;
    top: 50%;
    cursor: pointer;
}

.about h2 {
    padding-bottom: 0px !important;
    color: #353434;
    text-align: left !important;
}

.about p {
    display: block;
    padding-bottom: 0px;
}

.about .know-more-wrapper {
    display: block;
    position: relative;
}

    .about .know-more-wrapper:after {
        width: calc(100% - 125px);
        height: 1px;
        background: #ffc107;
        content: "";
        position: absolute;
        right: 0px;
        top: 12px;
        z-index: 1;
    }

.about a.know-more {
    display: inline-block;
    padding-right: 24px;
    position: relative;
    z-index: 2;
    font-family: 'Lato';
    font-size: 14px;
    color: #645847;
    text-transform: uppercase;
}

    .about a.know-more span {
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 4px;
        color: #ff9600;
    }

    .about a.know-more:hover span {
        color: #17a43b;
    }



@media (max-width: 767px) {
    .about ul.our-links {
        margin: -226px -15px 30px -15px;
        -webkit-padding-start: 10px;
        -webkit-padding-end: 10px;
    }

        .about ul.our-links li {
            padding: 20px 20px 30px 20px;
        }

            .about ul.our-links li .icon {
                width: 20%;
            }

            .about ul.our-links li .detail {
                width: 80%;
            }

                .about ul.our-links li .detail a.more {
                    width: 30px;
                    height: 30px;
                    line-height: 24px;
                    font-size: 16px;
                    position: relative;
                }

    .about .left-block {
        padding-bottom: 30px;
    }
}


.how-it-work {
    padding: 50px 0;
}

    .how-it-work .how-one-container {
        margin-top: 35px;
    }

    .how-it-work .sec-title p {
        max-width: 650px;
        margin: 0 auto;
        color: #848484;
        margin-top: 20px;
    }

.how-box-one {
    position: relative;
    padding: 40px 20px;
    transition: all .3s;
}

    .how-box-one:hover,
    .how-box-one.active {
        box-shadow: 0 0 35px rgba(0,0,0,.1);
    }

    .how-box-one:after {
        content: '';
        position: absolute;
        top: 0;
        right: -100px;
        width: 200px;
        height: 120px;
        background: url(../images/arrow-big.png) center center no-repeat;
    }

    .how-box-one:last-child:after {
        display: none;
    }

@media (max-width:991px) {
    .how-box-one:after {
        display: none;
    }
}

.how-box-one .icon-box {
    position: relative;
    font-size: 32px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto 30px;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.how-box-one h4 {
    position: relative;
    line-height: 1.6em;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #222;
    font-weight: 500;
}

    .how-box-one h4 a {
        color: #222222;
        transition: .5s;
    }

.how-box-one .text {
    position: relative;
    line-height: 1.8em;
    padding: 0px;
    color: #777;
}

.how-box-one h3 a {
    position: relative;
    color: #2a2a2a;
}

.gdlr-stunning-text-item {
    padding: 75px 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

    .gdlr-stunning-text-item .stunning-text-title {
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        color: #fff;
    }

    .gdlr-stunning-text-item .stunning-text-button {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: middle;
        border: 2px solid #309d3e;
        position: relative;
        border-radius: 2px;
        padding: 8px 12px;
        vertical-align: middle;
        background-color: #309d3e;
        color: #fff;
        border-radius: 2px;
        box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
        margin-bottom: 30px;
    }


        .gdlr-stunning-text-item .stunning-text-button:hover {
            border: 2px solid #309d3e;
            color: #309d3e;
            background: none;
            box-shadow: none;
        }

        .gdlr-stunning-text-item .stunning-text-button i {
            margin-left: 10px;
            margin-right: 0px;
        }

.gdlr-stunning-text-overlay {
    position: absolute;
    right: -100px;
    top: 0px;
    bottom: 0px;
    left: 50%;
    background: #fff;
    opacity: 0.25;
    filter: alpha(opacity=5);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
}

.gdlr-stunning-text-item {
    background-color: #ffc107;
}

    .gdlr-stunning-text-item.with-border {
        border-color: #f3f3f3;
    }

.newic {
    font-size: 16px;
    color: #ffc107;
    margin-left: 5px;
}


.ask-question {
    background-image: url(../images/map-background.jpg);
    padding: 40px 0px;
    margin-top: 30px;
    background-size: cover;
}

    .ask-question .ask-box {
        background: #555;
        padding: 15px 0 15px 30px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin: 15px 0px;
    }

        .ask-question .ask-box:hover,
        .ask-question .ask-box.active {
            background: #ffb426;
        }

            .ask-question .ask-box.active:hover {
                background: #009933;
            }

    .ask-question .ask-circle {
        float: left;
        width: 70px;
        height: 70px;
        border: 2px solid #f07b22;
        border-radius: 100%;
        text-align: center;
        margin-right: 15px;
    }

        .ask-question .ask-circle span {
            vertical-align: middle;
            font-size: 32px;
            margin-top: 15px;
            line-height: 1;
            color: #fff;
        }

    .ask-question .ask-info {
        margin: 0 65px 0 85px;
        color: #fff;
    }

        .ask-question .ask-info h3 {
            font-size: 20px;
            margin-top: 20px;
            color: #FFF;
        }

    .ask-question .ask-arrow {
        top: 0;
        position: absolute;
        right: 0;
        width: 60px;
        height: 100%;
        text-align: center;
        float: right;
        background: rgba(255,255,255,0.2);
    }

        .ask-question .ask-arrow span {
            border-radius: 100%;
            background: #fff;
            display: inline-block;
            padding: 4px;
            font-size: 20px;
            width: 30px;
            height: 30px;
            font-weight: normal;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }



.main-footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 0px;
    background: #222;
    width: 100%;
}

    .main-footer .footer-title h5 {
        position: relative;
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 10px;
        font-size: 16px;
        margin-bottom: 25px;
    }

        .main-footer .footer-title h5:before {
            position: absolute;
            content: '';
            background: #ffb426;
            width: 50px;
            height: 2px;
            left: 0px;
            bottom: -5px;
        }

    .main-footer p {
        position: relative;
        text-transform: capitalize;
        color: #d2d2d2;
        padding-bottom: 0px;
        font-size: 13px;
        margin-bottom: 0px;
        text-align: justify;
    }

    .main-footer .contact-widget {
        position: relative;
    }

        .main-footer .contact-widget .single-item {
            position: relative;
            padding: 0px 0px 0px 28px;
            margin-bottom: 13px;
        }

            .main-footer .contact-widget .single-item .icon-box {
                position: absolute;
                left: 0px;
                top: 0px;
            }

                .main-footer .contact-widget .single-item .icon-box i:before {
                    font-size: 18px;
                    color: #fff;
                }

        .main-footer .contact-widget .footer-social ul {
            -webkit-padding-start: 0px;
        }

        .main-footer .contact-widget .footer-social li {
            position: relative;
            display: inline-block;
            margin-right: 5px;
        }

            .main-footer .contact-widget .footer-social li a {
                padding: 5px;
                color: #ccc;
                border: 1px solid #ccc;
                width: 32px;
                height: 32px;
                text-align: center;
            }

                .main-footer .contact-widget .footer-social li a:hover {
                    color: #fff;
                    border-color: #fff;
                }

        .main-footer .contact-widget .footer-social {
            position: relative;
            margin-top: 39px;
        }

.footer-bottom {
    position: relative;
    background: #1d1d1d;
    padding: 26px 0px 24px 0px;
}

    .footer-bottom .copyright {
        position: relative;
        font-size: 13px;
        font-family: "Hind",sans-serif;
        line-height: 25px;
        color: #ccc;
        margin-bottom: 0px;
    }

        .footer-bottom .copyright a {
            color: #fff;
        }

.main-footer .service-widget .list li p {
    font-weight: 500;
    margin-bottom: 14px;
}

    .main-footer .service-widget .list li p:hover {
        color: #fff;
    }

.main-footer .service-widget .list li {
    position: relative;
    padding: 3px 0px 0px 12px;
}

    .main-footer .service-widget .list li:before {
        position: absolute;
        content: "\f0da";
        font-family: 'FontAwesome';
        font-size: 14px;
        color: #ccc;
        left: 0px;
        top: 2px;
    }

    .main-footer .service-widget .list li:hover:before {
        color: #ffb426;
    }

.main-footer .service-widget .list {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.footer-img {
    display: inline-block;
    float: left;
    margin-bottom: 8px;
    margin-right: 8px;
}

.instagram-image {
    overflow: hidden;
    padding-top: 9px;
}
.instagram-image img{width:90px;height:48px;}
.spl-title {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    font-weight: 400;
    display: inline-block;
    position: relative;
}

.spl-div {
    background-color: rgba(255, 255, 255, 0.82);
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ffc351;
}

.dtdc {
    font-size: 15px;
    font-weight: 500;
    color: #009933;
    line-height: 30px;
    margin-left: 5px;
}

.clchad {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 35px;
    text-align: center;
    color: #2b2b2b;
    line-height: 35px;
    margin: 10px 0px;
    background: #009933;
}

#btn_cal{
            width: 100%;padding: 10px 129px;color: #fff;
        }
        #btn_calculate{
            width: 100%;padding: 10px 178px;color: #fff;
        }

/*  contact CSS  */

.clear {
    clear: both;
}

#banner_img_career {
    background-image: url(../images/Untitled-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    width: 100%;
    min-height: 181px;
    /* background-color: #d8d8d8; */
    /* background-blend-mode: hard-light; */
}

.banner_text_port {
    margin-bottom: 0px;
}

h1.career_heading {
    /* margin-top: 70px; */
    color: #000;
    font-size: 30px;
    position: absolute;
    border: 200;
    bottom: -142px;
    letter-spacing: 1px;
}

p.career_text {
    color: #fff;
    font-size: 15px;
}

.sec_contact h3 {
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.w-contacts-list {
    border: 1px solid #e2e7ec;
    border-radius: 10px;
    padding: 0px 10px;
    min-height: 240px;
}

.w-contacts-item {
    padding: 10px 0px;
    line-height: 30px;
}

.fa.fa-map-marker {
    margin-top: 0px;
}

.w-contacts-item i {
    font-size: 15px;
    color: #fab426;
}

span.w-contacts-item-value.this_add {
    padding: 10px 7px;
}

span.w-contacts-item-value {
    margin-left: 10px;
    font-size: 15px;
    position: absolute;
}

span:nth-child(2n) {
    color: #222527;
}

.sec_contact p {
    font-size: 15px;
    margin-bottom: 15px;
}

.form-group.contact {
    margin-bottom: 15px !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact_form textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 10px;
}

    .contact_form textarea:focus {
        border-color: #fbc10a;
        box-shadow: none;
        outline: none;
    }

.btn-send_form_message {
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 30px;
}

    .btn-send_form_message:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }
/*  contact CSS  END */

/*  About CSS  */
.about_sec1 {
    padding: 35px 0px 10px 0px;
}

    .about_sec1 h3 {
        font-size: 22px;
    }

        .about_sec1 h3 span {
            color: #2c9933;
        }

    .about_sec1 p {
        margin: 0 0 15px;
        font-size: 15px;
        text-align: justify;
    }

        .about_sec1 p span {
            color: #2c9933;
        }

    .about_sec1 h4 {
        font-size: 22px;
        margin-top: 25px;
        margin-bottom: -5px;
    }

    .about_sec1 ul {
        line-height: 30px;
        margin: 20px -20px;
    }

        .about_sec1 ul li {
            list-style: none;
            font-size: 15px;
        }

            .about_sec1 ul li:before {
                position: absolute;
                content: "\f0da";
                font-family: 'FontAwesome';
                font-size: 15px;
                color: #fbc10a;
                /* left: 90px; */
                font-weight: bold;
                width: 30px;
                height: 30px;
                margin-left: -15px;
            }
/*  About CSS  END */

/*  aadhaar link CSS  */
.aadhaarlinks_sec1 {
    margin-top: 45px;
    margin-bottom: 25px;
}

    .aadhaarlinks_sec1 h1 {
        font-size: 20px;
    }

.links_box h3 {
    box-shadow: 4px 6px 6px -6px rgb(44, 153, 51);
    padding: 8px 15px;
}

.links_box ul {
    line-height: 30px;
    margin: 20px -20px;
}

    .links_box ul li {
        list-style: none;
        font-size: 15px;
    }

        .links_box ul li:before {
            position: absolute;
            content: "\f0da";
            font-family: 'FontAwesome';
            font-size: 15px;
            color: #fbc10a;
            left: 15px;
            font-weight: bold;
        }

/*  aadhaar link CSS END */

a.active {
    color: #009933 !important;
}

/*  FAQs CSS  */
.faqs_sec1 {
    padding: 35px 0px 10px 0px;
}

    .faqs_sec1 h1 {
        font-size: 22px;
        margin: 0px 0px 15px;
    }

.panel-group {
    margin-bottom: 20px;
}

    .panel-group .panel {
        margin-bottom: 20px;
        border-radius: 4px;
    }

.panel-default {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    text-decoration: none;
}

    .panel-default a {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
        text-decoration: none;
    }

.panel-heading {
    box-shadow: 4px 6px 6px -6px rgb(44, 153, 51);
    border: 1px solid #fff;
    background: #fff;
    outline: none;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

/*.icon_up_down {
    display: block;
    position: absolute;
}*/

/*.icon_up_down {
    right: 36px;
    font-size: 24px;
    line-height: 26px;
    height: 26px;
    width: 24px;
    text-align: center;
    transition: transform 0.3s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}*/

i.fa.fa-angle-down {
    color: #fbc10a;
    font-size: 20px;
    margin-top: -22px;
    font-weight: 700;
}

.icon_up_down i {
    vertical-align: top;
    line-height: inherit;
}

h2.collapse_head {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.collp_texts {
    font-size: 15px;
    color: #5d5d5d;
    line-height: 25px;
    text-align: justify;
}

ul.colapse_lists {
    padding: 5px 18px;
    line-height: 27px;
    font-size: 15px;
}

.collapse.in {
    display: block;
    background: #fff;
}

.faq_text {
    font-size: 20px;
    font-weight: bold;
}

ul.colapse_lists li {
    list-style: none;
}

    ul.colapse_lists li:before {
        position: absolute;
        content: "\f0da";
        font-family: 'FontAwesome';
        font-size: 15px;
        color: #fbc10a;
        font-weight: bold;
        margin-left: -15px;
    }

.btn.ouamcn {
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 10px;
    margin-top: 0px;
}

    .btn.ouamcn:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }

/*  FAQs CSS END */


/*  LOGIN CSS  */
.featured-boxes .featured-box {
    margin-bottom: 30px;
}

.featured-box {
    background: #F5F5F5;
    background: -webkit-linear-gradient( top, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
    background: linear-gradient(to bottom, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* border-bottom: 1px solid #DFDFDF; */
    /* border-left: 1px solid #ECECEC; */
    border-radius: 8px;
    /* border-right: 1px solid #ECECEC; */
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04); */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 100px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.align-left {
    text-align: left !important;
}

.featured-box-primary .box-content {
    border-top-color: #2c3e50;
}

.featured-box .box-content {
    border-radius: 8px;
    /* border-top: 1px solid #f07b23; */
    border-top-width: 4px;
    padding: 30px 30px 10px 30px;
    position: relative;
    top: -1px;
    min-height: 444px;
    box-shadow: 0 0 35px rgba(0,0,0,.1);
}

    .featured-box .box-content:hover {
        box-shadow: none;
    }

.featured-box-primary h4 {
    color: #fbc10a;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}

.featured-box h4 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: -0.7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mb-md {
    margin-bottom: 15px !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.form-group {
    margin-bottom: 55px;
}

.login_customers {
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 15px;
}

    .login_customers:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }

.login_customer {
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 15px;
}

    .login_customer:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }
/*  LOGIN CSS END */

/*  account_show CSS */
h4.heading-primary {
    color: #ffc107 !important;
}

.tooltip.top .tooltip-arrow {
    bottom: 7px;
    left: 50%;
    margin-left: -19px;
    border-width: 7px 7px 0;
    border-top-color: #f07b22;
}

.btn.btn-primary.mb-xl {
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 20px;
    border: 2px solid #309d3e;
}

    .btn.btn-primary.mb-xl:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }

h4.required {
    font-size: 19px;
    color: #ffc107;
}

.note_list li {
    list-style: none;
    line-height: 35px;
    font-size: 15px;
}

    .note_list li:before {
        position: absolute;
        content: "\f0da";
        font-family: 'FontAwesome';
        font-size: 15px;
        color: #fbc10a;
        left: 35px;
        font-weight: bold;
    }

.divider {
    margin: 20px auto !important;
}

.divider {
    border: 0;
    height: 1px;
    margin: 44px auto;
    background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    text-align: center;
    position: relative;
    clear: both;
    background: #d8d8d8;
}

    .divider.divider-secondary .fa {
        color: #e36159;
    }

    .divider .fa {
        text-align: center;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        background: #FFF;
        border-radius: 50px;
        color: #a9a9a9;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        position: absolute;
        text-align: center;
        width: 50px;
        font-size: 20px;
        margin: 0 auto 0 -25px;
        top: -23px;
        left: 50%;
        z-index: 1;
    }

.btn-secondary {
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 20px;
    padding: 4px 10px;
    border: 2px solid #309d3e;
    font-size: 12px;
    height: 32px;
    margin-bottom: 5px;
}

    .btn-secondary:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }


#frmSignUp {
    margin-bottom: 25px;
}

.col-md-6.col-md-offset-3.all_row {
    padding: 30px 30px 10px 30px;
    box-shadow: 0 0 35px rgba(0,0,0,.1);
    margin-bottom: 20px;
    border: 1px solid #f1f1f1;
    margin-top: 20px;
}

    .col-md-6.col-md-offset-3.all_row:hover {
        box-shadow: none;
        border: 1px solid #f1f1f1;
    }

.btn.btn-primary.dropdown-toggle {
    padding: 0px 10px;
    font-size: 12px;
    height: 38px;
    background: #009933;
    border: none;
}

    .btn.btn-primary.dropdown-toggle:hover {
        background: #009933;
        color: #fff;
    }

    .btn.btn-primary.dropdown-toggle:focus {
        outline: none;
        box-shadow: none;
        background: #009933;
    }


.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    color: #fff!important;
    background-color: #009933!important;
    border-color: #009933!important;
}
.btn.btn-primary:focus{
    background: #009933;
}

.upload_left_sec {
    border: 1px solid #f1f1f1;
    padding: 0px 30px;
    margin-top: 20px;
    min-height: 487px;
    box-shadow: 0 0 35px rgba(0,0,0,.1);
}

    .upload_left_sec:hover {
        border: 1px solid #f1f1f1;
        box-shadow: none;
    }

.upload_right_sec {
    border: 1px solid #f1f1f1;
    padding: 0px 15px;
    margin-top: 20px;
    margin-bottom: 25px;
    box-shadow: 0 0 35px rgba(0,0,0,.1);
}

    .upload_right_sec:hover {
        border: 1px solid #f1f1f1;
        box-shadow: none;
    }

.fa.fa-edit {
    font-size: 20px;
}

.fa.fa-trash {
    font-size: 20px;
}

/*  account_show CSS END */

/*  ORDER SUMMARY CSS */
a.btn.go_back {
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 20px;
    border: 2px solid #309d3e;
    font-size: 15px !important;
    padding: 8px 8px;
    line-height: 20px;
    margin-top: -10px;
}

    a.btn.go_back:hover {
        border: 2px solid #309d3e;
        color: #309d3e;
        background: none;
        box-shadow: none;
    }

.heading-primary.mb-md {
    color: #f07b22;
    margin-top: 15px;
    margin-bottom: 25px !important;
}

.c-addr-border {
    margin: 0px 0px 20px 0px;
    border-radius: 5px;
    padding: 5px 0px 10px 30px;
    box-shadow: 0 0 35px rgba(0,0,0,.1);
    min-height: 215px;
    border: 1px solid #f1f1f1;
}

    .c-addr-border:hover {
        box-shadow: none;
        border: 1px solid #f1f1f1;
    }



.required {
    color: red !important;
}

.cart-totals td {
    padding: 8px 10px;
}

    .cart-totals td.text-left {
        width: 75%;
    }

    .cart-totals td.text-right {
        width: 92px;
    }

.total {
    background: #fbc10a;
    font-size: 13px;
    font-weight: bold;
    color: #222;
}

.btn.btn-del_speed {
    color: #737373;
    background-color: #fff;
    border-color: #ccc;
    height: 34px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 0px;
    border: 1px solid #ccc;
    font-size: 10px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 8px 10px;
        text-decoration: none;
        display: block;
        font-size: 14px;
    }

    .dropdown-content ul {
        padding-left: 0px;
        margin-bottom: 0px;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/*  ORDER SUMMARY CSS END*/

.dropdown-menu.TOP_HEAD {
    background-color: #222;
    border: none;
    border-radius: 0;
    font-size: 1.083em;
    padding: 0PX;
    text-transform: none;
}

.dropdown-menu.TOP_HEAD {
    top: 96%;
}

    .dropdown-menu.TOP_HEAD:focus {
        display: block !important;
    }

    .dropdown-menu.TOP_HEAD > li > a:hover {
        background-color: #fbc10a !important;
    }


@media only screen and (max-width: 767px) {
    .logo {
        background: #fff;
        height: 127px;
        left: 0;
        position: absolute;
        text-align: center;
        top: -38px;
        width: 165px;
        border-radius: 0PX 0PX 12PX 12px;
        border: 2px solid #fff;
        border-top: none;
    }

        .logo img {
            width: 85%;
        }

    .pgl-navbar-main {
        min-height: 62px;
    }

    .navbar-default .navbar-toggle {
        margin: 23px 0 0;
    }

    .owl-carousel .owl-item img {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        min-height: 181px;
    }

    .btn.Apply_Aadhaar {
        top: 60%;
        left: 6%;
        font-size: 10px;
        padding: 4px 4px;
    }

    .banner_icons {
        top: 5%;
        left: 3%;
    }

    .banner_img_list {
        display: none;
    }

    .pgl-main-slide .owl-controls .owl-buttons div {
        top: 55%;
        width: 8%;
        height: 15%;
    }

    .icons {
        position: relative;
        font-size: 10px;
        top: -30%;
        left: -30%;
    }

    .pgl-main-slide .item {
        height: 185px;
    }

    .about ul.our-links li .detail a.more {
        bottom: 10px;
    }

    .navbar-collapse.width.in {
        z-index: 199;
        top: 100%;
    }

    .about ul.our-links {
    }

    .about ul.our-links {
        display: block;
        margin: -226px -10px 0px -10px;
        position: inherit;
        z-index: 9999;
        -webkit-padding-start: 10px;
        -webkit-padding-end: 10px;
    }

    .navbar-collapse .navbar-nav > li > a {
        border-top: 1px solid #151515;
        color: #171717;
    }

    .title_section {
        margin-top: 25px;
    }

    .section-title {
        font-size: 22px !important;
    }

    .spl-title {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .scroll-to-top .icon-up {
        left: 0px;
        top: 0px;
    }

    .scroll-to-top {
        bottom: 30px;
        right: 0px;
    }

    .customer-feedback .owl-item img {
        width: 70%!important;
    }
    #banner_img_career{
    width: 100%;
    min-height: 100px;
    background-position: 90% 1px;
}
    h1.career_heading{
            position: absolute;
    top: 30px;
    font-size: 23px;
    margin-left: 5px;
    }
    .about_sec1 {
    padding: 35px 0px 10px 0px;
    margin-left: 12px;
    margin-right: 12px;
}
    .about_sec1 ul li {
    list-style: none;
    font-size: 15px;
}
    .about_sec1 ul {
    line-height: 30px;
    margin: 20px 0px;
    padding-left: 20px;
}
    .aadhaarlinks_sec1 h1 {
    font-size: 20px;
    margin-left: 18px;
}
    .faqs_sec1 {
    padding: 35px 0px 10px 0px;
    margin-left: 12px;
    margin-right: 12px;
}
    .featured-box .box-content {
        padding: 20px 20px 20px 20px;
    }
    .heading-primary.mb-md {
    margin-top: 0px;
    margin-bottom: 10px !important;
}
    .form-group {
    margin-bottom: 8px;
}
    .note_list{
            position: relative!important;
    padding-left: 5px;
    padding-right: 0px;
    }
    .contact_form textarea{
        width:100%;
    }
    .note_list li {
    list-style: none;
    line-height: 30px;
    font-size: 14px;
    text-align: justify;
}
    .note_list li:before {
    left: -8px;
}
    span.top_col{
            font-size: 13px;
    }
    .divider.divider-secondary .fa {
    font-size: 10px;
}
    .divider .fa{
        font-size: 10px;
    }
    .divider {
    display: none;
}
    .heading-primary.mb-md{
        margin-top:20px;
    }
    .card{
            width: 72%!important;
    min-height: 248px!important;
    }
    .card-number, .cardholder-name {
    width: 278px!important;
}
    .input-field {
    padding: 8px 10px!important;
    margin: 0px 0 10px!important;
}

        .netbanking-body .form-netbanking input[type="radio"] + span span {
    width: 90px!important;
    font-size: 13px;
    line-height: 20px;
        }
        select.form-control.select-another {
    width: 89%!important;
}
    p.btn-pay .btn {
        width: 90%;
        margin-left: 0px!important;
    }
    .flip-container, .front, .back {
        width: 304px!important;
    }
    .input-group.upiDiv input{
        width: 141%!important;
    }
    .form-netbanking input[type="radio"] + span span {
        width: 90px!important;
    }
	#exTab3 ul.nav-pills > li {
    width: 20%!important;
}
#exTab3 .nav-pills > li > a > img{
	margin-left: 0px!important;
    width: 30%!important;
    float: left!important;
    margin-top: -18px!important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    padding: 11px 10px!important;
    font-size: 13px!important;
}


}




.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.fab {
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  right: 400px;
  top: 500px;
  color: #fff;
  background: #d35400;
  height: 56px;
  width: 56px;
  box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  left: 0;
}

.fab.active {
  cursor: default;
  background: #FFF;
  border-radius: .125em;
  width: 450px;
  height: 540px;
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
  top: 10%;
  right: calc(50% - 250px);
  z-index: 999;
}

.fab i.fa.fa-plus {
  position: absolute;
  display: block;
  font-size: 25px;
  top: 52%;
  left: 52%;
  -webkit-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active .fab-icon {
  display: none;
}

.active .protect {
  background: none;
}

.cntt-wrapper {
  display: none;
}

.active .cntt-wrapper {
      display: block;
    min-height: 500px;
    background: #fff;
}

#fab-hdr {
    position: relative;
    display:flex;
    background: #d35400;
}

#fab-hdr h3 {
    /* padding-left: 30px; */
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 10px;
    background: #f07b23;
        position: relative;
}

.cntt {
  padding: 100px 35px 0 35px;
  color: #757575;
}

.btn-wrapper {
    position: absolute;
    right: 0;
    /* bottom: 0; */
    margin-bottom: 8px;
    padding: 6px 16px;
    color: #000;
        margin-top: -50px;
}

#btn_log{
    color: white;
    background: none;
    border: none;
    margin-left: 10px;
    line-height: 40px;
}
/* just presenation */
.center{margin: 0 auto}
.m-t-100{margin-top:100px}
.box {
  height: 300px;
  padding: 100px;
}
.btn-place_order{
 font-size: 16px; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* vertical-align: middle; */
    border: 2px solid #309d3e;
    /* position: relative; */
    border-radius: 2px;
    /* padding: 8px 12px; */
    /* vertical-align: middle; */
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 5px;
    /* float: right; */
    /* width: 100%; */
    margin-top: 10px;

}
.btn-place_order:hover {
    border: 2px solid #309d3e;
    color: #309d3e;
    background: none;
    box-shadow: none;
}
.mdl-js-button{
    background-color: #309d3e;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.85);
    margin-bottom: 5px;
    border-radius: 2px;
    border: 2px solid #309d3e;

}
.mdl-js-button:hover{
    border: 2px solid #309d3e;
    color: #309d3e;
    background: none;
    box-shadow: none;
}
.drop_popop{
        float: right;
    position: absolute;
    padding: 5px 5px;
}